In [1]:
import datetime
import gspread
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from urllib.request import urlopen
import time
from time import sleep
from basketball_reference_scraper.pbp import get_pbp

pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
# read data
nba_results_22_23 = pd.read_csv('22_23_aggregated_results.csv')
nba_results_22_23['DATE'] = pd.to_datetime(nba_results_22_23['DATE'])

In [4]:
# calculate 2022-23 LT% and TIE%
nba_results_22_23['AWAY_LT'] = nba_results_22_23['HOME_WT']
nba_results_22_23['HOME_LT'] = nba_results_22_23['AWAY_WT']
nba_results_22_23['HOME_LT'] = nba_results_22_23['AWAY_WT']
nba_results_22_23['TIE_PC'] = 1 - (nba_results_22_23['AWAY_WT'] + nba_results_22_23['HOME_WT'])

In [5]:
# function to calculate team average for each metric
def calculate_metric(df, metric):
    # set metric columns
    if metric in ('WT','LT'):
        away_col = 'AWAY_' + metric
        home_col = 'HOME_' + metric
    elif metric == 'TIE_PC':
        away_col = metric
        home_col = metric
    
    # reformat into single column
    nba_results_22_23_away = df[['DATE','AWAY_TEAM', away_col]].rename(columns={'AWAY_TEAM':'TEAM',away_col:metric})
    nba_results_22_23_home = df[['DATE','HOME_TEAM', home_col]].rename(columns={'HOME_TEAM':'TEAM',home_col:metric})
        
        

    # concatenate
    nba_results_22_23_reformat = pd.concat([nba_results_22_23_away, nba_results_22_23_home]).reset_index(drop=True)
    
    # find team averages
    nba_results_22_23_agg = nba_results_22_23_reformat.groupby(['TEAM']).mean().reset_index()
    return nba_results_22_23_agg

In [6]:
# create datatset of wt/lt/tie%
wt_results = calculate_metric(nba_results_22_23, 'WT')
lt_results = calculate_metric(nba_results_22_23, 'LT')
tie_results = calculate_metric(nba_results_22_23, 'TIE_PC')

nba_results_22_23_agg = pd.merge(wt_results, lt_results, how='inner', on='TEAM')
nba_results_22_23_agg = pd.merge(nba_results_22_23_agg, tie_results, how='inner', on='TEAM')
display((nba_results_22_23_agg['WT'] + nba_results_22_23_agg['LT'] + nba_results_22_23_agg['TIE_PC']).min())
display((nba_results_22_23_agg['WT'] + nba_results_22_23_agg['LT'] + nba_results_22_23_agg['TIE_PC']).max())

0.9999999999999999

1.0

In [7]:
## Add Supplemental Info
supp_df = pd.read_csv('22_23_supplemental_info.csv')
supp_df['EXPECTED_WP'] = supp_df['EXPECTED_WIN'] / 82

In [8]:
## Add initial deltas
nba_results_22_23_agg_fin = pd.merge(nba_results_22_23_agg, supp_df, how='inner', on='TEAM')
nba_results_22_23_agg_fin['WT_v_WP'] = nba_results_22_23_agg_fin['WT'] - nba_results_22_23_agg_fin['WP']
nba_results_22_23_agg_fin['WT_v_EXP_WP'] = nba_results_22_23_agg_fin['WT'] - nba_results_22_23_agg_fin['EXPECTED_WP']

In [9]:
## final df
nba_results_22_23_agg_fin.sort_values('TEAM')

,TEAM,WT,LT,TIE_PC,WP,PT_DIFF,EXPECTED_WIN,EXPECTED_WP,WT_v_WP,WT_v_EXP_WP
0,ATL,0.512354,0.440656,0.046990,0.500,0.1,41.2,0.502439,0.012354,0.009915
1,BOS,0.627872,0.316295,0.055833,0.695,6.9,57.2,0.697561,-0.067128,-0.069689
2,BRK,0.488815,0.456958,0.054227,0.549,1.0,43.5,0.530488,-0.060185,-0.041673
3,CHI,0.466179,0.475931,0.057890,0.488,1.3,44.2,0.539024,-0.021821,-0.072845
4,CHO,0.336131,0.612646,0.051223,0.329,-6.2,25.9,0.315854,0.007131,0.020277
5,CLE,0.532688,0.415923,0.051390,0.622,5.8,55.0,0.670732,-0.089312,-0.138044
6,DAL,0.456318,0.483746,0.059937,0.463,0.3,41.7,0.508537,-0.006682,-0.052219
7,DEN,0.547795,0.398861,0.053344,0.646,3.8,50.1,0.610976,-0.098205,-0.063181
8,DET,0.268981,0.678496,0.052523,0.207,-8.6,21.2,0.258537,0.061981,0.010445
9,GSW,0.477099,0.470285,0.052616,0.537,2.4,46.9,0.571951,-0.059901,-0.094852
10,HOU,0.325946,0.618077,0.055977,0.268,-8.6,21.3,0.259756,0.057946,0.066190
11,IND,0.367608,0.576236,0.056156,0.427,-4.1,31.2,0.380488,-0.059392,-0.012880
12,LAC,0.465978,0.470810,0.063211,0.537,-0.3,40.2,0.490244,-0.071022,-0.024266
13,LAL,0.460443,0.479292,0.060265,0.524,0.4,42.1,0.513415,-0.063557,-0.052972
14,MEM,0.628305,0.319329,0.052366,0.622,5.0,53.2,0.648780,0.006305,-0.020476
15,MIA,0.457420,0.473562,0.069017,0.537,-0.1,40.8,0.497561,-0.079580,-0.040141
16,MIL,0.613548,0.335796,0.050656,0.707,4.4,51.9,0.632927,-0.093452,-0.019379
17,MIN,0.542989,0.397382,0.059629,0.512,0.5,42.3,0.515854,0.030989,0.027136
18,NOP,0.504928,0.448197,0.046875,0.512,1.8,45.6,0.556098,-0.007072,-0.051170
19,NYK,0.539940,0.401949,0.058111,0.573,3.4,49.3,0.601220,-0.033060,-0.061280
20,OKC,0.424549,0.515932,0.059519,0.488,0.6,42.6,0.519512,-0.063451,-0.094963
21,ORL,0.407757,0.537638,0.054604,0.415,-2.4,34.9,0.425610,-0.007243,-0.017852
22,PHI,0.517138,0.424783,0.058078,0.659,4.3,51.4,0.626829,-0.141862,-0.109691
23,PHO,0.546712,0.396864,0.056424,0.549,1.3,44.2,0.539024,-0.002288,0.007688
24,POR,0.428708,0.513783,0.057509,0.402,-3.8,31.8,0.387805,0.026708,0.040903
25,SAC,0.490230,0.449811,0.059959,0.585,2.4,46.8,0.570732,-0.094770,-0.080501
26,SAS,0.323732,0.625521,0.050747,0.268,-9.9,19.0,0.231707,0.055732,0.092025
27,TOR,0.511112,0.436516,0.052373,0.500,1.5,44.8,0.546341,0.011112,-0.035230
28,UTA,0.411492,0.532976,0.055532,0.451,-0.9,38.9,0.474390,-0.039508,-0.062898
29,WAS,0.484998,0.463514,0.051488,0.427,-1.7,36.9,0.450000,0.057998,0.034998

In [10]:
nba_results_22_23_agg_fin.to_csv('22_23_wp_final_results.csv')

In [68]:
html = urlopen('https://cleaningtheglass.com/stats/league/summary')
soup = BeautifulSoup(html, 'html.parser')
table = soup.find("table")
df_ctg = pd.read_html(str(table))[0]
df_ctg.columns = df_ctg.columns.get_level_values(1)
df_ctg = df_ctg.iloc[: , 1:]
df_ctg = df_ctg.iloc[: , :7]
df_ctg_1 = df_ctg['Team']
df_ctg_2 = df_ctg.iloc[: , 2]
df_ctg_3 = df_ctg.iloc[: , 5:]
df_ctg = pd.concat([df_ctg_1, df_ctg_2, df_ctg_3], axis=1)

/var/folders/xl/0gbs3t9n2m92zzqwh0x7vkx00000gp/T/ipykernel_77416/1885613366.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_ctg = pd.read_html(str(table))[0]

In [69]:
df_ctg

             Team  Point Diff    Win%  Exp W82
0     LA Clippers        20.0   66.7%     75.7
1         Orlando        15.2  100.0%     72.2
2          Denver        14.4  100.0%     70.0
3    Golden State        11.6   75.0%     66.7
4          Boston        10.7  100.0%     64.9
5    Philadelphia         9.7   66.7%     62.8
6         Indiana         9.6   66.7%     62.2
7         Phoenix         8.9   66.7%     62.9
8          Dallas         8.8  100.0%     60.8
9         Atlanta         6.3   50.0%     55.8
10        Detroit         5.3   50.0%     54.5
11     Sacramento         3.1   66.7%     48.5
12      Minnesota         2.4   33.3%     47.4
13  Oklahoma City         1.9   75.0%     45.9
14       Brooklyn         1.9   33.3%     45.6
15      LA Lakers        -2.4   33.3%     34.6
16       New York        -2.7   33.3%     33.9
17        Toronto        -2.8   25.0%     33.3
18      Cleveland        -4.4   33.3%     30.0
19    New Orleans        -5.0   66.7%     27.7
20      Charlotte        -5.1   33.3%     28.1
21        Memphis        -8.4    0.0%     20.8
22        Chicago        -8.4   50.0%     20.8
23     Washington       -10.6   33.3%     17.7
24          Miami       -11.1   33.3%     15.7
25    San Antonio       -11.4   33.3%     15.4
26       Portland       -11.8   25.0%     14.9
27      Milwaukee       -12.4   50.0%     14.8
28        Houston       -13.6    0.0%     12.1
29           Utah       -13.9   33.3%     13.4

In [2]:
# reduce to yesterday
nba_schedule_df = pd.read_csv('utils/wt_support/23_24_nba_schedule.csv')
nba_schedule_df['DATE'] = pd.to_datetime(nba_schedule_df['DATE'])
nba_schedule_df_retro = nba_schedule_df[
    nba_schedule_df.DATE == (datetime.date.today().strftime('%Y-%m-%d') - datetime.timedelta(1))
].reset_index(drop=True)

nba_schedule_df_retro

/var/folders/xl/0gbs3t9n2m92zzqwh0x7vkx00000gp/T/ipykernel_1417/3280926604.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nba_schedule_df['DATE'] = pd.to_datetime(nba_schedule_df['DATE'])

TypeError: unsupported operand type(s) for -: 'str' and 'datetime.timedelta'

In [4]:
# datetime.date.today().strftime('%Y-%m-%d') - datetime.timedelta(1)
(datetime.date.today() - datetime.timedelta(1)).strftime('%Y-%m-%d')

'2023-10-30'